{{!
Copyright (C) 2026 HERE Europe B.V.
SPDX-License-Identifier: Apache-2.0
}}
void {{registerName}}(void) {
    class_<{{cppFullName}}{{#primaryBase}}, base<{{primaryBase}}>{{/primaryBase}}>("{{jsName}}")
{{#methods}}
{{#isStatic}}
{{#needsAdapter}}
    .class_function<{{adapterReturnType}}({{adapterSignatureParameters}})>("{{jsName}}", []({{adapterParameters}}) -> {{adapterReturnType}} {
        {{adapterPreparations}}
        {{adapterCallPrefix}}{{cppFullName}}::{{cppName}}({{adapterCallArguments}});
        {{adapterReturnConversion}}
    })
{{/needsAdapter}}
{{^needsAdapter}}
    .class_function("{{jsName}}", &{{cppFullName}}::{{cppName}})
{{/needsAdapter}}
{{/isStatic}}
{{^isStatic}}
{{#needsAdapter}}
    .function<{{adapterReturnType}}({{cppFullName}}*, {{adapterSignatureParameters}})>("{{jsName}}", []({{cppFullName}}* self, {{adapterParameters}}) -> {{adapterReturnType}} {
        {{adapterPreparations}}
        {{adapterCallPrefix}}self->{{cppName}}({{adapterCallArguments}});
        {{adapterReturnConversion}}
    }, allow_raw_pointer<arg<0>>())
{{/needsAdapter}}
{{^needsAdapter}}
    .function("{{jsName}}", &{{cppFullName}}::{{cppName}})
{{/needsAdapter}}
{{/isStatic}}
{{/methods}}
{{#properties}}
{{#isStatic}}
    .class_property("{{jsName}}", &{{cppFullName}}::{{cppGetterName}}, &{{cppFullName}}::{{cppSetterName}})
{{/isStatic}}
{{^isStatic}}
    .property("{{jsName}}", &{{cppFullName}}::{{cppGetterName}}, &{{cppFullName}}::{{cppSetterName}})
{{/isStatic}}
{{/properties}}
        ;
}
