{{!!
  !
  ! Copyright (C) 2016-2026 HERE Europe B.V.
  ! SPDX-License-Identifier: Apache-2.0
  !
  !}}
import { loadModule } from "{{runtimeImportPath}}";

const module = await loadModule();
{{#runtimeExports}}
const {{moduleName}} = module["{{runtimeName}}"]{{#isStruct}} ?? {}{{/isStruct}};
{{#constants}}
{{moduleName}}.{{jsName}} = module["{{runtimeName}}"]();
{{/constants}}
{{#properties}}
Object.defineProperty({{moduleName}}, "{{jsName}}", {
  get: () => {{moduleName}}["{{getterName}}"](){{#hasSetter}},
  set: (value) => {{moduleName}}["{{setterName}}"](value){{/hasSetter}}
});
{{/properties}}
{{#structFunctions}}
{{moduleName}}.{{jsName}} = module["{{runtimeName}}"];
{{/structFunctions}}
{{#overloadGroups}}
{{moduleName}}["{{jsName}}"] = (...args) => {
{{#overloads}}
  if ({{predicate}}) return {{moduleName}}["{{runtimeName}}"](...args);
{{/overloads}}
  throw new TypeError("No matching overload for {{jsName}}");
};
{{/overloadGroups}}
export { {{moduleName}} };
{{/runtimeExports}}