{{> js/JsStubDocumentation}}
export interface {{jsName}} {
{{#fields}}
{{> js/JsStubDocumentation}}
	{{jsName}}: {{jsType}};
{{/fields}}
}
{{#hasConstants}}
export const {{constantOwnerName}}: {
{{#constants}}
  {{jsName}}: {{jsType}};
{{/constants}}
};
{{/hasConstants}}
{{#hasStaticFunctions}}
export namespace {{jsName}} {
{{#functions}}
{{#isStatic}}
{{> js/JsStubFunctionDocumentation}}
	function {{jsName}}({{#parameters}}{{jsName}}: {{jsType}}{{^last}}, {{/last}}{{/parameters}}): {{returnType}};
{{/isStatic}}
{{/functions}}
}
{{/hasStaticFunctions}}
{{#nestedStructs}}
export namespace {{parentJsName}} {
{{> js/JsStubStructBody}}
}
{{/nestedStructs}}