{{> js/JsStubDocumentation}}
{{#hasInstanceDeclaration}}
export interface {{jsName}} {
{{#fields}}
{{> js/JsStubDocumentation}}
	{{jsName}}: {{jsType}};
{{/fields}}
}
{{/hasInstanceDeclaration}}
{{#hasConstants}}
export const {{constantOwnerName}}: {
{{#constants}}
{{> js/JsStubDocumentation}}
  {{jsName}}: {{jsType}};
{{/constants}}
};
{{/hasConstants}}
{{#hasStaticFunctions}}
export namespace {{jsName}} {
{{#functions}}
{{#isStatic}}
{{> js/JsStubFunctionDocumentation}}
	function {{jsName}}({{#parameters}}{{jsName}}: {{jsType}}{{^last}}, {{/last}}{{/parameters}}): {{returnType}};
{{/isStatic}}
{{/functions}}
{{#nestedEnumerations}}
{{> js/JsStubDocumentation}}
	export enum {{jsName}} {
{{#enumerators}}
{{> js/JsStubDocumentation}}
		{{jsName}},
{{/enumerators}}
	}
{{/nestedEnumerations}}
}
{{/hasStaticFunctions}}
{{#nestedEnumerations}}
{{^hasStaticFunctions}}
export namespace {{parentJsName}} {
{{#nestedEnumerations}}
{{> js/JsStubDocumentation}}
	export enum {{jsName}} {
{{#enumerators}}
{{> js/JsStubDocumentation}}
		{{jsName}},
{{/enumerators}}
	}
{{/nestedEnumerations}}
}
{{/hasStaticFunctions}}
{{/nestedEnumerations}}
{{#nestedStructs}}
export namespace {{parentJsName}} {
{{> js/JsStubStructBody}}
}
{{/nestedStructs}}