{{#if hasDocumentation}}
/**
{{#resolveName comment}}{{#unless this.isEmpty}}
{{prefix this " * "}}
{{/unless}}{{/resolveName}}{{#parameters}}{{#resolveName comment}}{{#unless this.isEmpty}}
 * @param {{parameterName}} {{prefix this " * " skipFirstLine=true}}
{{/unless}}{{/resolveName}}{{/parameters}}{{#resolveName returnComment}}{{#unless this.isEmpty}}
 * @returns {{prefix this " * " skipFirstLine=true}}
{{/unless}}{{/resolveName}}{{#resolveName throwsComment}}{{#unless this.isEmpty}}
 * @throws {{prefix this " * " skipFirstLine=true}}
{{/unless}}{{/resolveName}}
 */
{{/if}}