{{! pybind11 interface binding (trampoline for Python subclassing). }}
class {{resolveName}}Trampoline : public {{resolveName model "Pybind11"}} {
public:
    using {{resolveName model "Pybind11"}}::{{resolveName model "Pybind11"}};

{{#functions}}
{{#unless isStatic}}
{{#unless isConstructor}}
{{>python/Pybind11TrampolineFunction}}
{{/unless}}
{{/unless}}
{{/functions}}
{{#properties}}
{{>python/Pybind11TrampolineProperty}}
{{/properties}}
};

void register_{{resolveName}}(py::module_& module) {
    py::class_<{{resolveName model "Pybind11"}}, std::shared_ptr<{{resolveName model "Pybind11"}}>, {{resolveName}}Trampoline>(module, "{{resolveName}}")
        .def(py::init<>())
{{#functions}}
{{>python/Pybind11Function}}{{/functions}}
{{#properties}}
{{>python/Pybind11Property}}{{/properties}}
        ;
}
