{{! pybind11 enum binding. }}
void register_{{resolveName}}(py::module_& module) {
    py::enum_<{{resolveName model "Pybind11"}}>(module, "{{resolveName}}")
{{#enumerators}}
        .value("{{resolveName}}", {{resolveName model "Pybind11"}}::{{resolveName this "Pybind11"}})
{{/enumerators}}
        ;
}
