{{! Trampoline override for a single interface method. }}
    {{resolveName returnType.typeRef "Pybind11"}} {{resolveName this "Pybind11"}}(
            {{#parameters}}{{#ifPredicate typeRef "needsRefSuffix"}}const {{/ifPredicate}}{{resolveName typeRef "Pybind11"}}{{#ifPredicate typeRef "needsRefSuffix"}}&{{/ifPredicate}} {{resolveName}}{{#if iter.hasNext}}, {{/if}}{{/parameters}}{{#unless parameters}}/* no args */{{/unless}} ) override {
        py::gil_scoped_acquire gil;
        PYBIND11_OVERRIDE({{resolveName returnType.typeRef "Pybind11"}}, {{resolveName model "Pybind11"}}, {{resolveName this "Pybind11"}}{{#parameters}}, {{resolveName}}{{/parameters}});
    }
