{{! Python struct: dataclass-like wrapper around the native C++ object. }}

from _native_base import _NativeBase

import {{nativeModule}}


class {{resolveName}}(_NativeBase):
    """{{resolveName comment}}"""

    def __init__(self, *args):
        if len(args) == 1 and not hasattr(args[0], "_native"):
            super().__init__(args[0])
        else:
            super().__init__({{nativeModule}}.{{resolveName}}(*[getattr(arg, "_native", arg) for arg in args]))
{{#fields}}

{{>python/PythonField}}{{/fields}}
{{#functions}}

{{>python/PythonFunction}}{{/functions}}
{{#properties}}

{{>python/PythonProperty}}{{/properties}}
{{#enumerations}}
{{#unlessPredicate "isStandaloneEnum"}}
{{>python/PythonEnumeration}}{{/unlessPredicate}}{{/enumerations}}
{{#constants}}

{{>python/PythonConstant}}{{/constants}}
