{{! Python struct field (read/write property delegating to the native object). }}
{{#if comment}}{{prefix comment "    "}}
{{/if}}    @property
    def {{resolveName}}(self){{#unless typeRef.isNullable}} -> {{resolveName typeRef}}{{/unless}}:
{{#if comment}}        """{{comment}}"""
{{/if}}        return self._native.{{resolveName}}

    @{{resolveName}}.setter
    def {{resolveName}}(self, value{{#unless typeRef.isNullable}}: {{resolveName typeRef}}{{/unless}}):
        self._native.{{resolveName}} = value

