{{! Python struct: dataclass-like wrapper around the native C++ object. }}
from _native_base import _NativeBase


class {{resolveName}}(_NativeBase):
    """{{resolveName comment}}"""

    def __init__(self, native):
        super().__init__(native)
{{#fields}}

{{>python/PythonField}}{{/fields}}
{{#functions}}

{{>python/PythonFunction}}{{/functions}}
{{#properties}}

{{>python/PythonProperty}}{{/properties}}
