{{! Python class: thin wrapper around the native C++ object exposed via pybind11. }}

from _native_base import _NativeBase

import {{nativeModule}}


class {{resolveName}}{{#if parents}}(
{{#parents}}    {{resolveName}}{{#if iter.hasNext}},
{{/if}}{{/parents}}
){{/if}}(_NativeBase):
    """{{resolveName comment}}"""

    def __init__(self, native):
        super().__init__(native)
{{#functions}}

{{>python/PythonFunction}}{{/functions}}
{{#properties}}

{{>python/PythonProperty}}{{/properties}}
{{#enumerations}}
{{#unlessPredicate "isStandaloneEnum"}}
{{>python/PythonEnumeration}}{{/unlessPredicate}}{{/enumerations}}
{{#constants}}

{{>python/PythonConstant}}{{/constants}}
