{{! Python exception class. }}
class {{resolveName}}(Exception):
    """{{resolveName comment}}"""

    def __init__(self, message: str):
        super().__init__(message)
        self.message = message
