{{! Python struct: dataclass-like wrapper around the native C++ object. }}
class {{resolveName}}:
    """{{resolveName comment}}"""

    def __init__(self, native):
        self._native = native
{{#fields}}

{{>python/PythonField}}{{/fields}}
{{#functions}}

{{>python/PythonFunction}}{{/functions}}
{{#properties}}

{{>python/PythonProperty}}{{/properties}}
