{{! Python interface: base class (protocol) wrapping the native C++ object. }}
from _native_base import _NativeBase


class {{resolveName}}(_NativeBase):
    """{{resolveName comment}}"""

    def __init__(self, native):
        super().__init__(native)
{{#functions}}

{{>python/PythonFunction}}{{/functions}}
{{#properties}}

{{>python/PythonProperty}}{{/properties}}
