{{! Python method/function stub. }}
    def {{resolveName}}(self{{#parameters}}, {{resolveName}}: {{resolveName typeRef}}{{/parameters}}){{#unless returnType.isVoid}} -> {{resolveName returnType}}{{/unless}}: ...
