{{! Python struct type stub. }}
class {{resolveName}}:
{{#fields}}

{{>python/PythonStubField}}{{/fields}}
{{#functions}}

{{>python/PythonStubFunction}}{{/functions}}
{{#properties}}

{{>python/PythonStubProperty}}{{/properties}}
